In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url = "D:/IBM - Internship/Data Analysis Using Python/Automobile_Price_prediction/imports-85.csv"

### Diffrent Format That Pandas Support : read_csv( ), read_json( ), read_excel( ), read_sql( )

In [ ]:

# Our Dataset Doesn't Include Column Header So 
# header = None is used 
df = pd.read_csv(url,header = None)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
# Now We Have to Assigne Header Name 
headers = ["symboling","normalized-losses","make","fuel-type", "aspiration", 
           "num-of-doors","body-style", "drive-wheels", "engine-location", 
           "wheel-base", "length","width","height", "curb-weight","engine-type",
           "num-of-cylinders", "engine-size","fuel-system", "bore","stroke","compression-ratio",
           "horsepower", "peak- rpm","city-mpg", "highway-mpg","price"]

In [ ]:
# df.columns is used to assignment of the header names
df.columns = headers

In [ ]:
df.head(5)

In [ ]:
# Export Csv File
path = "D:/IBM - Internship/Data Analysis Using Python/Automobile_Price_prediction/data_with_headers.csv"
df.to_csv(path)

# Understanding Data

In [ ]:
# Check The Data Types
df.dtypes

###### here Price has assigned wrong data type

In [ ]:
# Let's See Some Statistics using df.describe()
# it only include column with numberic value
df.describe()

In [ ]:
# To see all the column we have to use include = "all"
# for object type column include only unique,top,freq
df.describe(include = "all")

In [ ]:
df.info()

# Preprocessing The Data

### Missing Value : "?",NaN,0

In [ ]:
# isnull() function check for empty and NaN cell
df.isnull().sum()

In [ ]:
# drop column contain empty or null values
df.dropna(subset = ["aspiration","body-style"],axis = 0,inplace = True)

In [ ]:
df["aspiration"].isnull().sum()

In [ ]:
df["body-style"].isnull().sum()

In [ ]:
# Replacing missing value of width using mean 
mean = df["width"].mean()
mean

In [ ]:
df["width"].fillna(mean,inplace = True)

In [ ]:
df["width"].isnull().sum()

In [ ]:
df.head()

In [ ]:
# Looking for ? and drop them
df.replace("?",np.nan,inplace = True)
df.isnull().sum()

df["bore"]=df["bore"].astype("float")
df["stroke"]=df["stroke"].astype("float")
df["horsepower"]=df["horsepower"].astype("float")
df["peak- rpm"]=df["peak- rpm"].astype("float")
df["normalized-losses"]=df["normalized-losses"].astype("float")

In [ ]:
df['bore'] = pd.to_numeric(df['bore'])
df['stroke'] = pd.to_numeric(df['stroke'])
df['horsepower'] = pd.to_numeric(df['horsepower'])
df['peak- rpm'] = pd.to_numeric(df['peak- rpm'])
df['normalized-losses'] = pd.to_numeric(df['normalized-losses'])

In [ ]:
df.dtypes

<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

In [ ]:
df["normalized-losses"].fillna(df["normalized-losses"].astype("float").mean(),inplace = True)
print("Null-Count:",df["normalized-losses"].isnull().sum())
df.dtypes

In [ ]:
df["stroke"].fillna(df["stroke"].astype("float").mean,inplace = True)
print("Null-count:",df["stroke"].isnull().sum())
df.dtypes

In [ ]:
df["bore"].fillna(df["bore"].mean,inplace = True)
print("Null-count:",df["bore"].isnull().sum())
df.dtypes

In [ ]:
df["horsepower"].fillna(df["horsepower"].mean,inplace = True)
print("Null-count:",df["horsepower"].isnull().sum())
df.dtypes

In [ ]:
df["peak- rpm"].fillna(df["peak- rpm"].mean,inplace = True)
print("Null-count:",df["peak- rpm"].isnull().sum())
df.dtypes

Number Of Door Are Object so fill with most frequent value

In [ ]:
most_freq_door_type = df['num-of-doors'].value_counts().idxmax()
most_freq_door_type

In [ ]:
df["num-of-doors"] = df["num-of-doors"].fillna(most_freq_door_type)
print("Null-count:",df["num-of-doors"].isnull().sum())
df.dtypes

As Price is Our Target Attribute so dorp the value

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.isnull().sum()

# Data Formating

In [ ]:
# Here city-mpg represent fule consumption of car in mile per gallon 
df["city-mpg"].head()

In [ ]:
# We have to format this data in to kilometer per litter
df["city-mpg"] = 256/df["city-mpg"]

In [ ]:
df["city-mpg"].head()

In [ ]:
# Rename the city-mpg --> city-l/100km
df.rename(columns = {"city-mpg": "city-l/100km"},inplace = True)

In [ ]:
df.info()

In [ ]:
# here dtype of price is object that must be int64 
# to convert we use astype("int64")
df["price"] = df["price"].astype("int64")

In [ ]:
df["price"].info()

# Data Normalization

In [ ]:
column = ["length","height","width"]
df[column].head()

In [ ]:
# normalizing  lenght 
from sklearn.preprocessing import MinMaxScaler

In [ ]:
Scaler = MinMaxScaler()

In [ ]:
df[column] = Scaler.fit_transform(df[column])

In [ ]:
df[column].head()

# Binning

In [ ]:
df.dtypes

In [ ]:
bins = np.linspace(df["horsepower"].min(),df["horsepower"].max(),4)
bins

In [ ]:
group_names = ["Low","Medium","Hign"]

In [ ]:
df["horsepower-binned"] = pd.cut(df["horsepower"],bins,labels = group_names,include_lowest = True)

In [ ]:
df[["horsepower-binned"]]

In [ ]:

# Create a list of indices for the x-axis ticks
indices = range(len(df["price-binned"]))

plt.bar(df["price-binned"],indices)

# Adding labels and title
plt.ylabel("Index")
plt.xlabel("price-binned")
plt.title("Bar Chart")

plt.show()

In [ ]:
df[["fuel-type"]].head()

In [ ]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [ ]:
df["aspiration"].value_counts()

In [ ]:
dummy_variable_2 = pd.get_dummies(df["aspiration"])
dummy_variable_2.rename(columns={'std':'aspiration-type-std', 'turno':'aspiration-type-turbo'}, inplace=True)

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "fuel-type" from "df"
df.drop("aspiration", axis = 1, inplace=True)